*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
}
h3{
    margin-left: 0.4em;
}
hr{
    width: 25em;
    margin: 0.5em 0 0 0.5em;
    border-radius: 1em;
}
table{
    padding: 5px;
}
.bottom{
    font-size: 0.8em;
}
#ime{
    width: 4em;
    margin-right: 0.2em;
}
#priimek{
    width: 7em;
}
#last{
    padding-left: 0.2em;
}
#comp{
    width: 19em;
}
#bio{
    height: 70px;
    width: 19em;
}
#num{
    width: 30px;
}
#desc{
    height: 70px;
    width: 19em;
}
#abs{
    height: 120px;
    width: 220px;
}
#url{
    width: 500px;
}
#info{
    height: 220px;
    width: 320px;
}